<!doctype html>
<html lang="en">
  <head>
    <title>Index Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1> Your form here</h1>
      <form action="/result" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameid" placeholder="your name here">
            <small id="nameid" class="form-text text-muted">Name box</small>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" id="location" aria-describedby="locationid" placeholder="your location here">
            <small id="locationid" class="form-text text-muted">location box</small>
          </div>
          <div class="form-group">
            <label for="language">Favorite Language</label>
            <input type="text" class="form-control" name="language" id="language" aria-describedby="languageid" placeholder="your language here">
            <small id="languageid" class="form-text text-muted">language box</small>
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="comment" aria-describedby="commentid" placeholder="your comment here">
            <small id="commentid" class="form-text text-muted">comment box</small>
          </div>
          <input type="submit" class="btn btn-primary btn-submit" name="submit">
    </form>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>