<!doctype html>
<html lang="en">
  <head>
    <title>Index Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){

            

            var socket = io(); //1
    
            socket.on('set_color', function (color) {

              console.log(color) //4
                $('body').css('background-color',color.color)
            });
            $( "#bluebtn" ).click(function(){
                btn('blue');
            });
            
            $( "#redbtn" ).click(function(){
                btn('red');
            });
            $( "#purplebtn" ).click(function(){
                btn('purple');
            });
            function btn(color) {
                console.log('<{color}> clicked')
                socket.emit('color_pressed',{'color':color})
            }



         })
    </script>
  </head>
  <body>
      <h1> Your buttons here</h1>
      <p>The Button has been pushed <span id='count'>0</span> time(s)</p>
    <button id='bluebtn' class = 'btn btn-primary' style='background-color:blue'>Blue</button>
    <button id='redbtn' class = 'btn btn-danger' style='background-color:red'>Red</button>
    <button id='purplebtn' class = 'btn btn-secondary' style='background-color:purple'>Light urple</button>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>